SELECT [TAXON_OCCURRENCE_KEY]
      ,[PREFERRED_NAME]
      ,[COMMON NAME]
      ,[TAXON_GROUP]
      ,[SORT_ORDER]
      ,[DATE]
      ,[VAGUE_DATE_START]
      ,[VAGUE_DATE_END]
      ,[VAGUE_DATE_TYPE]
      ,[SPATIAL_REF]
      ,[SPATIAL_PRECISION]
      ,[LOCATION]
      ,[RECORDERS]
      ,[SUM_OF_ABUNDANCE]
      ,[ABUNDANCES]
      ,[X]
      ,[Y]
  FROM [NBNReporting].[dbo].[_tempRSI]